<div class="shadow container py-3">
  <h3>Histórico de Conversões: </h3>
  <table class="text-center border">
    <tr class="border">
      <th>Valor Inserido</th>
      <th>simbolo</th>
      <th>Moeda Origem</th>
      <th>taxa</th>
      <th>simbolo</th>
      <th>Moeda Destino</th>
      <th>Valor Convertido</th>
      <th>Data</th>
      <th>Hora</th>
    </tr>
    <tr>
      <td>$ 500,00</td>
      <td></td>
      <td>Dolar</td>
      <td></td>
      <td></td>
      <td>Real</td>
      <td>R$ 1.500,00</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>R$ 1.500,00</td>
      <td></td>
      <td>Real</td>
      <td></td>
      <td></td>
      <td>Dolar</td>
      <td>$ 500,00</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
